// App
$app-fontsize: 16px;

// Room colours
$room-secondary: #F1F2F2;
$room-primary: unquote($VUE_APP_ROOM_PRIMARY_COLOUR);
$room-text: white;

@mixin custom-scroll-bar {
 &::-webkit-scrollbar {
  width: 8px;
  background-color: #e7e7e7;
  border-radius: 10px;
 }
 &::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(111, 90, 90, 0.2);
  background-color: #dcdcdc;
 }
 &::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
  background-color: #bbbbbb;
  cursor: pointer;
 }
}

:export {
 customScrollBar: custom-scroll-bar;
 roomPrimary: $room-primary;
 roomSecondary: $room-secondary;
}
